<h1>Create a Team and Heroes!</h1>

<form method="post" action="/teams">
  <label>Team Name:</label>
  <input type="text" name="team[name]"><br>
  <label>Team Motto:</label>
  <input type="text" name="team[motto]"><br>

  <label></label>
  <label></label>
  <label></label>

  <label></label>
  <label></label>
  <label></label>

  <label></label>
  <label></label>
  <label></label>
  <input type="submit">
</form>
