<h1>Create a Team and Heroes!</h1>

<form method="post" action="/teams">
  <p></p>
  <p></p>

  <p></p>
  <p></p>
  <p></p>

  <p></p>
  <p></p>
  <p></p>

  <p></p>
  <p></p>
  <p></p>
  <input type="submit">
</form>